alembic==1.8.1
attrs==22.2.0
azure-ai-formrecognizer==3.2.0
azure-common==1.1.28
azure-core==1.26.1
backoff==1.11.1
beautifulsoup4==4.11.2
blis==0.7.7
bpemb==0.3.4
brotlipy==0.7.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.0.4
cloudpickle==2.2.1
colorama==0.4.6
conllu==4.5.2
contourpy==1.0.7
cryptography==37.0.4
cycler==0.11.0
cymem==2.0.6
Cython==0.29.32
https://github.com/explosion/spacy-models/releases/download/el_core_news_sm-3.4.0/el_core_news_sm-3.4.0.tar.gz
databricks-cli==0.17.3
dataclasses==0.8
Deprecated==1.2.13
dill==0.3.6
docker==6.0.1
docopt==0.6.2
el-core-news-sm==3.3.0
elasticsearch==7.17.7
entrypoints==0.4
et-xmlfile==1.1.0
farm-haystack==1.11.0
filelock==3.9.0
flair==0.11.3
Flask==2.2.2
fonttools==4.38.0
fst-pso==1.8.1
ftfy==6.1.1
future==0.18.3
FuzzyTM==2.0.5
fuzzywuzzy==0.18.0
gdown==4.4.0
gensim==4.3.0
gitdb==4.0.10
GitPython==3.1.29
graphviz==0.20.1
greenlet==2.0.1
huggingface-hub==0.12.0
hyperopt==0.2.7
idna==3.4
importlib-metadata==3.10.1
importlib-resources==5.10.2
inflect==6.0.2
isodate==0.6.1
itsdangerous==2.1.2
Janome==0.4.2
jarowinkler==1.2.3
Jinja2==2.11.3
joblib==1.1.1
jsonschema==4.17.3
kiwisolver==1.4.4
konoha==4.6.5
langcodes==3.3.0
langdetect==1.0.9
llvmlite==0.39.1
lxml==4.9.2
Mako==1.2.4
MarkupSafe==1.1.1
matplotlib==3.6.3
miniful==0.0.6
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlflow==2.0.1
mmh3==3.0.0
monotonic==1.6
more-itertools==9.0.0
mpld3==0.3
msrest==0.7.1
murmurhash==1.0.7
networkx==3.0
nltk==3.7
num2words==0.5.12
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.0.10
overrides==3.1.0
packaging==23.0
pandas==1.5.3
pathy==0.10.1
Pillow==9.4.0
pip==22.3.1
pkgutil_resolve_name==1.3.10
polyfuzz==0.4.0
posthog==2.2.0
pptree==3.1
preshed==3.0.6
protobuf==3.20.3
py4j==0.10.9.7
pyarrow==10.0.1
pycparser==2.21
pydantic==1.8.2
pydot==1.4.2
pyFUME==0.2.25
PyJWT==2.6.0
PyMuPDF==1.21.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2022.7.1
pywin32==305
PyYAML==6.0
quantulum3==0.7.11
querystring-parser==1.2.4
rapidfuzz==2.7.0
rdflib==6.2.0
regex==2022.7.9
requests==2.28.2
requests-oauthlib==1.3.1
sacremoses==0.0.43
scikit-learn==1.1.3
scipy==1.10.0
seaborn==0.12.2
segtok==1.5.11
sentence-transformers==2.2.2
sentencepiece==0.1.95
seqeval==1.2.2
setuptools==65.6.3
shap==0.41.0
shellingham==1.5.0.post1
simpful==2.9.0
six==1.16.0
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
soupsieve==2.3.2.post1
spacy==3.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.44
sqlitedict==2.1.0
sqlparse==0.4.3
srsly==2.4.3
tabulate==0.9.0
thinc==8.0.15
threadpoolctl==3.1.0
tika==1.24
tokenizers==0.12.1
torch==1.13.1
torchvision==0.13.1+cu116
tqdm==4.64.1
transformers==4.21.2
typer==0.4.2
typing_extensions==4.4.0
urllib3==1.26.14
waitress==2.1.2
wasabi==0.10.1
wcwidth==0.2.6
websocket-client==1.4.2
Werkzeug==2.2.2
wheel==0.37.1
Wikipedia-API==0.5.8
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.14.1
zipp==3.11.0
